*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 18px;
}

@font-face { font-family: NewParis; src: url('../fonts/NewParisHeadline-Regular.otf'); }
@font-face { font-family: NewParis; font-weight: bold; src: url('../fonts/NewParisText-Bold.otf'); }
@font-face { font-family: NewParisItalic; src: url('../fonts/NewParisHeadline-RegularItalic.otf'); }

html {
	height: 100%;
	background: url("../img/background.webp") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg {
	display: none;
}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	/* color: #444444; */
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}

a {
	font-weight: lighter;
	text-decoration: none;
	outline: none;
	position: relative;
}

@media (hover: hover) {
	a:hover {
		font-weight: 400;
		outline: none;
	}
}

a:hover:after {
	content: "";
	width: calc(100% + 8px);
	height: 2px;
	position: absolute;
	bottom: -8px;
	left: -4px;
	z-index: 1;
	background: white;
}

ul {
	margin: 2rem auto 0;
}

header {
	width: 100%;
	position: absolute;
	z-index: 1;
}

nav {
	max-width: 1280px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
}

h2 {
	font-family: NewParis, Arial, sans-serif;
	font-size: 74px;
	margin: 0;
	padding: 1rem 0;
}

.content {
	height: 100vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	position: relative;
	max-width: 1280px;
}

.content > * {
	width: 100%;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.grid {	
	display: grid;
	grid-template-columns: calc(55% - 25px) calc(45% - 25px);
	grid-column-gap: 50px;

}

.cards-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	column-gap: 80px;
	row-gap: 80px;
}

.card-container {
	display: flex;
	flex-basis: calc(50% - 40px);
}

.card-container img {
	height: auto;
	max-width: 245px;
}

.card-image-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-content {
	display: flex;
}

.card-content h3 {
	font-size: 22px;
	font-family: NewParis;
	margin-top: 0;
}

.card-content p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-align: justify;
	hyphens: auto;
	font-weight: lighter;
}

.homepage-logo {
	max-width: 332px;
	margin-bottom: 4rem;
}

.about-logo {
	max-width: 220px;
	margin-bottom: 1rem;
}

.block {
	width: 100%;
}

.items {
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	column-gap: 8px;
}

.items p {
	text-transform: uppercase;
	letter-spacing: 0.04rem;
}

#logoSection .items {
	column-gap: 20px;
}

#logoSection .items p {
	font-size: 24px;
}

a, a:visited {
	color: #FFF;
	text-decoration: none;
}

.listNone {
	list-style: none;
	margin: 0;
	padding: 0;
}

.links li {
	padding-bottom: 0.6125rem;
	font-size: 0.8375rem;
}

.footer-list {
	bottom: 1rem;
	left: 0;
}

.footer-list ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer-list .footer-item {
	margin: 0 1em;
}

.footer-list .footer-item .link {
	text-decoration: none;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.02rem;
}

.arrow-wrapper {
	position: sticky;
	bottom: 2rem;
	display: flex;
}

.arrow-wrapper button {
	background: none;
	border: none;
	cursor: pointer;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
}
.arrow-up {
	width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
}

.white-text {
	color: #fff;
}

.flex {
	display: flex;
}

.break-word {
	-moz-text-align-last: center;
	text-align-last: center;
}

.w50 {
	width: 50%;
}

.w450 {
	max-width: 446px;
}

.diamond {
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-bottom-color: #595959;
	position: relative;
	top: -13px;
	margin-right: 16px;
}
.diamond:after {
	content: '';
	position: absolute;
	left: -13px;
	top: 13px;
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-top-color: #595959;
}

.divider {
	margin: -8px 0;
}

.topnav {
	display: none;
}

#aboutSection p {
	text-align: justify;
	font-weight: lighter;
	font-size: 19px;
	line-height: 147%;
}

#servicesSection1 {
	column-gap: 80px;
}

#servicesSection1 p.w450 {
	font-family: NewParisItalic;
	max-width: 500px;
	-webkit-hyphens: auto;
	hyphens: auto;
	font-size: 27px;
	line-height: 142%;
	text-align: justify;
	-moz-text-align-last: center;
	text-align-last: center;
}

#servicesSection1 .items {
	margin-bottom: 70px;
}

#services-grid {
	display: grid;
	row-gap: 80px;
}

#contactSection a {
	display: block;
	margin-bottom: 4px;
}
#contactSection a:after {
	content: none;
}

#contactSection .about-logo {
	margin-bottom: 2rem;
}

#contactSection p {
	font-size: 19px;
	font-weight: lighter;
}

#contactSection a {
	font-size: 17px;
	font-weight: lighter;
}

a#telephone {
	font-size: 20px;
	padding-bottom: 8px;
	font-weight: lighter;
}

form {
	position: relative;
}

form button {
	background: #595959;
	color: white;
	border-radius: 4px;
	box-shadow: none;
	border: none;
	padding: 4px 16px;
}

input {
	font-family: 'Helvetica', 'Arial', sans-serif;
	text-align: left;
	width: 100%;
	margin-bottom: 0.5rem;
	font-size: 14px;
	height: 24px;
	border: none;
	padding: 0 4px;
	border-radius: 4px;
}

textarea {
	padding: 5px 4px;
	width: 100%;
	border: none;
	height: 200px;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 14px;
	resize: none;
	border-radius: 4px;
}

input:focus, textarea:focus {
	outline: none;
}

#message-field {
	background: white;
	padding-bottom: 12px;
	border-radius: 8px;
}


@media screen and (max-width: 1312px) {
	section, nav {
		padding: 0 20px;
	}
}

@media screen and (max-width: 1160px) {

	.arrow-wrapper {
		display: none;
	}

	section:not(:first-child) {
		display: block;
		height: auto;
		padding-bottom: 7rem;
	}
	
	#servicesSection1 {
		padding-bottom: 0;
	}

	#servicesSection1 .flex {
		display: block;
	}

	#servicesSection1 p.w450 {
		font-size: 22px;
		padding-bottom: 7rem;
	}

	.w50 {
		width: 100%;
	}

	#services-grid, .cards-wrapper {
		max-width: 514px;
		margin: 0 auto;
		display: block;
	}

	section#logoSection {
    height: calc(100vh + 10px);
    display: flex;
    padding: 0 1rem;
	}

	#logoSection .items p {
		font-size: 20px;
	}

	.card-container {
		padding-bottom: 4rem;
	}

	.card-content p {
		text-align: left;
		font-size: 16px;
	}

	hr {
		display: none;
	}

	.grid {
		display: block;
	}
}

.form-section {
	text-align: left;
	list-style: none;
}

@media screen and (max-width: 800px) {
	html {
		/* background: url("../img/background.jpg") center no-repeat fixed;
		background-size: cover; */
	}
	.grid {
		grid-column-gap: 20px;
	}
	.desktop-header {
		display: none;
	}
	.topnav {
		display: block;
	}
	.bg {
		background-image: url("../img/background.jpg");
		background-repeat: no-repeat;
		background-position: center;
		height: 100vh;
		width: 100vw;
		position: fixed;
		display: block;
	}
}

.topnav {
	position: relative;
}

#menuIcon {
	background: none;
	box-shadow: none;
	border: none;
	position: absolute;
	right: 0;
	z-index: 10;
}

#mobileMenuWrapper {
	top: 0;
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	z-index: 9;
	display: none;
	background: url("../img/background.jpg") center no-repeat fixed;
	background-size: cover;
}

#mobileMenu {
	align-items: center;
	display: flex;
	flex-direction: column;
}

#mobileMenuWrapper .homepage-logo {
	z-index: 9;
	position: absolute;
	top: 1.5rem;
	transform: translateX(-50%);
	left: 50%;
	max-width: 112px;
}

/* Style navigation menu links */
.topnav a {
	color: #fff;
	margin: 36px 0;
	padding: 4px;
	font-family: Raleway, sans-serif;
	font-size: 17px;
	text-decoration: none;
	display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 640px) {
	h2 {
		font-size: 52px;
	}

	#aboutSection p {
		font-size: 16px;
	}

	#servicesSection1 p.w450 {
		max-width: 446px;
	}

	.homepage-logo {
		width: 220px;
	}

	#contactSection > div {
		max-width: 380px;
	}

	#logoSection > div {
		position: relative;
    top: -2rem;
	}
}

@media screen and (max-width: 400px) {
	#contactSection p {
		font-size: 17px;
	}
}

@media screen and (max-height: 500px) {

	#logoSection .homepage-logo {
		max-width: 160px;
		margin-bottom: 2rem;
	}

	#contactSection p {
		font-size: 17px;
	}

	.topnav a {
		color: #fff;
    margin: 10px 0;
    padding: 4px;
    font-family: Raleway, sans-serif;
    font-size: 17px;
    text-decoration: none;
    display: block;
    position: relative;
    top: 40px;
	}
}